.ProfileCard{
    border-radius:25px ;
}
.ProfileContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ProfileName{
    font-weight: bold;
    font-size: 30px;
}

.AvatarContainer{
    padding: 10px;
    background-color: rgb(235, 235, 235);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}


.card span{
    margin-left: 20px;
    margin-bottom: 5px;
}